# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Shipped by Lens Studio
Cache/**
PluginsUserPreferences/**
Support/**
BackUp/**
.vscode/**
jsconfig.json
tsconfig.json
.DS_Store
# Shipped by Lens Studio
